In [ ]:
# Hashsets

s = set()
print(s)

set()

In [ ]:
# Add item into Set - O(1)
s.add(1)
s.add(2)
s.add(3)

print(s)

{1, 2, 3}

In [ ]:
# Lookup if item in set - O(1)
if 1 not in s:
  print(True)

In [ ]:
# Remove item from set - O(1)
s.remove(3)

print(s)

{1, 2}

In [ ]:
# Set construction - O(S) - S is the length of the string
string = 'aaaaaaabbbbbbbbbbbccccccccceeeeeeeee'
sett = set(string)

sett

{'a', 'b', 'c', 'e'}

In [ ]:
# Loop over items in set - O(n)
for x in s:
  print(x)

1
2

In [ ]:
# Hashmaps - Dictionaries

d = {'greg': 1, 'steve': 2, 'rob': 3}

print(d)

{'greg': 1, 'steve': 2, 'rob': 3}

In [ ]:
# Add key:val in dictionary: O(1)
d['arsh'] = 4

print(d)

{'greg': 1, 'steve': 2, 'rob': 3, 'arsh': 4}

In [ ]:
# Check for presence of key in dictionary: O(1)
if 'greg' in d:
  print(True)

True

In [ ]:
# Check the value corresponding to a key in the dictionary: O(1)
print(d['greg'])

1

In [ ]:
# Loop over the key:val pairs of the dictionary: O(n)
for key, val in d.items():
  print(f'key {key}: val {val}')

key greg: val 1
key steve: val 2
key rob: val 3
key arsh: val 4

In [ ]:
# Defaultdict

from collections import defaultdict

default = defaultdict(list)

default[2]

[]

In [ ]:
default

defaultdict(list, {2: []})

In [ ]:
# Counter
from collections import Counter

counter = Counter(string)

print(counter)

Counter({'b': 11, 'c': 9, 'e': 9, 'a': 7})